{% extends 'base.html.twig' %}

{% block title %}Supprimer un compte {% endblock %}

{% block body %}
    <form method="post" action="{{ path('account_delete', {'id': account.id}) }}" onsubmit="return confirm('Êtes vous sur  de vouloir supprimer ce compte?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ account.id) }}">
        <button class="btn btn-danger">Supprimer</button>
    </form>
        {# <a href="{{ path('account_index') }}">back to list</a> #}

{% endblock %}



