{% extends 'base.html.twig' %}

{% block title %}New Account{% endblock %}

{% block body %}
    <div class="container pt-3">
        <h2>Open Account</h2>

        {{ include('account/_form.html.twig') }}
        <a href="{{ path('account_index') }}">back to list</a>
    </div>
{% endblock %}
