{% extends 'base.html.twig' %}

{% block title %}JST BANK{% endblock %}

{% block body %}
{# {% for accounts in getAccounts %}
 <p>{{ accounts.firstname}}
  {{ accounts.user}}</p>
 
     

    {% endfor %}
#}
{% endblock %}
