{% extends 'base.html.twig' %}

{% block title %}Transactions{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center my-5">Retrait</h1>
    {{ form(form) }}
{% endblock %}
