{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block body %}

<div class="container">
    <h1 class="text-center my-5">{{app.user.firstname ~' '~ app.user.lastname}}, vous souhaitez ouvrir un nouveau compte </h1>
    <div class="d-flex justify-content-center">
    {{ form(form) }}
    </div>
{% endblock %}